/* PHASE 1: Header */
header{
  background-color: #f00;
}

nav{
  width: 50%;
  display: flex;
  position: relative;
  margin: auto;
}

h1, li{
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px
}

li {
  font-weight: 400;
}

ul {
  display:flex;
  position: absolute;
  right: 0px;
}

li:hover{
  background-color:  #000;
}
